torch
pytorch-ignite
pytorch-transformers>=1.2
tensorboardX==1.8
tensorflow  # for tensorboardX
certifi==2019.9.11
Click==7.0
fastapi==0.38.1
h11==0.8.1
pydantic==0.32.2
pytz==2019.2
six==1.12.0
starlette==0.12.8
uvicorn==0.9.0
websockets==8.0.2
wincertstore==0.2
email-validator==1.0.5
typing==3.7.4.1